body {
    font-family: 'Montserrat'

}

.form {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 15px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #FFECD2, #FCB69F)
}

.login-input {
    margin-left: 5px;
}